@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* width */
/* Ancho y altura del scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Fondo del track (barra de desplazamiento) */
::-webkit-scrollbar-track {
  background: #222A35; /* Puedes mantener este color o ajustarlo según tus preferencias */
}

/* Color del handle (el control deslizante) */
::-webkit-scrollbar-thumb {
  background: #00FF00; /* Cambia este color a un tono de verde que te guste */
  border-radius: 6px;
}

/* Color del handle al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background: #FF00FF; /* Cambia este color a otro tono de verde si lo prefieres */
}
